

body, html {
    height: 100%;
    color: white;
}

/*#bg {*/
    /*position: fixed;*/
    /*top: -50%;*/
    /*left: -50%;*/
    /*width: 200%;*/
    /*height: 200%;*/
/*}*/
/*#bg img {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
/*}*/


.container {
  min-height: 100%;
  overflow: hidden;
  font-size: 38px;
    font-family: CenturyGothic;
}

#regionName {
    font-family: CenturyGothic;
    padding-top: 40px;
    font-size: 96px;
    font-weight: bold;
}

.mapBox{
    margin-top: 50px;
    align:center;
    display:block;
}

.mapBox img {
    alignment: center;
}